$color-fire: #ff7402;
$color-grass: #9bcc50;
$color-steel: #9eb7b8;
$color-water: #4592c4;
$color-psychic: #f366b9;
$color-ground: #ab9842;
$color-ice: #51c4e7;
$color-flying: #3dc7ef;
$color-ghost: #4d5b64;
$color-normal: #a4acaf;
$color-poison: #7e0058;
$color-rock: #a38c21;
$color-fighting: #d56723;
$color-dark: #707070;
$color-bug: #729f3f;
$color-dragon: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
$color-electric: #bba909;
$color-fairy: #fdb9e9;
$color-shadow: #7b62a3;
$color-unknow: #757575;

$color-pokedex: #dc0a2d;
$color-pokedexL:#b50724;
$color-pokedexO:#8f061d;
$color-pokedexS:#42020d;
$color-pokedex-azul: #28aafd;
$color-pokedex-azulO: #196a9e;
$color-pokedex-azulS: #0c3651;
$color-pantalla: #232323;
$color-carta: #303030;
$color-img: #373737;
$color-interfaz: #dedede;
$color-gris: #f3f3f3;
$color-grisO: #7a7a7b;
$color-verde: #51ae5f;
$color-verdeO: #33703d;
$color-amarillo: #fada18;
$color-amarilloO: #ae9811;